{% include 'base.html' %}
{% block content %}  
{% load widget_tweaks %}
{% load static %}

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">TRANSFORM HEALTH COALITION (THC) KENYA SYSTEM</a>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div>
</header>


<div class="container-fluid">
  <div class="row">
     {% include 'nav.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2" style="width:100%;text-align: center;height: 50px;color:blue;box-shadow: 30px 20px 20px grey; ">TRANSFORM HEALTH COALITION(THC) KENYA</h1>
        
        </div>
        <div class="row" style="padding-top:50px ;">
       
        </div>
        <div class="row" style="padding-top:10px ;padding-left: 10px;padding-bottom: 20px;">
          <div class="row">
            <h1 class="h3" style="width:100%;text-align: center;height: 50px;color:blue;">
              <marquee direction="right" behavior="alternate">OBJECTIVES</marquee></h1>
              
            <p style="padding:20px 20px ">
              
              <div class="row" style="padding-left: 150px;">
              <div class="container">
              <div class="col-md-12" style=" background-color: lightblue;box-shadow: 30px 20px 20px grey;">
              
             <div class="'h2" style="font-weight:800"> MAIN OBJECTIVES</div>
             
             
             <li>
                1. Laws and policies on digital health technologies to achieve UHC commitments are developed and adopted at both national and county level by 2030 
            </li>
             <li>
                2. Increased adoption and use of digital health technologies at the national and county government for access to equitable, affordable and quality health carecare;
             </li>
             <li>3. Increased resources at national and county level for strengthening digital health technologies to achieve UHC commitments</li>
        
              </div>
              </div>
              </div>
              <br>
              <div class="row" style="padding: 30px 20px">

              </div>

           </p>
           
           
          </div>
          </div>


      
        
      
      </main>
    
  </div>
</div>

{% endblock %}